#board {
  display : grid;
  grid-template-columns : repeat(10, 30px);
  grid-gap : 5px;
  background-color : #f0f0f0;
  padding : 10px;
  border: 2px solid #000;
}
.ui {
  display: flex;
  margin : 0;
  flex-direction: column;
}
.ui-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.ui h5 { 
  margin: 2px 0; /* 간격 조절 */ 
  
} 
.ui button { 
  margin-right: 2px; /* 버튼 간격 조절 */ 
}
.cell {
  background-color : grey;
  width : 30px;
  height : 30px;
  display : flex;
  justify-content : center;
  align-items : center;
  font-size : 16px;
  color : black;
}
